@import '../../node_modules/airtame-gooey/global/reset';
$font-sans-serif: 'Open Sans', sans-serif;
@import '../../node_modules/airtame-gooey/global/colors';
@import '../../node_modules/airtame-gooey/components/textfield/textfield';

$secondary-color: #8f99b3;
$transition-function: cubic-bezier(0.65, 0.05, 0.36, 1);

body {
  font-family: 'Open Sans', sans-serif;
  padding: 50px;
  padding-bottom: 100px;

  background: $deep-ocean;
  color: $white;
  text-align: center;
}

.airtame-logo {
  path {
    fill: $white;
  }

  width: 80px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.search-box {
  @include textfield();
  margin: 50px auto;
  position: relative;

  input {
    padding-left: 50px;
  }

  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;

    path {
      fill: $secondary-color;
    }
  }
}

.icons-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .icon-container {
    display: inline-block;
    padding: 15px;
    border: 1px solid $secondary-color;
    margin: 10px;
    box-shadow: 0 4px 30px -6px rgba($pure-black, 1);

    &:hover {
      svg {
        transform: scale(1.2);
      }
    }

    .icon-container-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 180px;
      width: 180px;
    }

    h2 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 15px;
      line-height: 1.2;
      width: 100%;
      word-wrap: break-word;

      span {
        cursor: help;
        display: inline;
      }
    }

    span {
      display: inline-block;
      padding: 5px;
      font-weight: 600;
      font-size: 11px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .code {
      color: $apricot;
      font-family: Courier New, Courier, monospace;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      word-wrap: break-word;
    }
  }

  svg {
    max-width: 50px;
    height: 50px;
    margin: 10px auto;

    transform: scale(1);
    transition: transform .3s $transition-function, fill .3s $transition-function;

    & > path {
      fill: $white;
    }
  }
}